{% extends 'base.html.twig' %}

{% block title %}My Followers{% endblock %}



{% block body %}

    <div class="container box">

        {% for row in subscribers|batch(4) %}
            <div class="card-deck">

                {% for subscriber in row %}
                    {% include 'main/cards/card.html.twig' with { profile: subscriber } %}
                {% endfor %}

            </div>
        {% endfor %}
    </div>

{% endblock %}

