{% extends 'base.html.twig' %}

{% block title %}My Follow{% endblock %}


{% block body %}

    <div class="container box">

        {% for row in subscribes|batch(4) %}
            <div class="card-deck">

                {% for subscribe in row %}
                    {% include 'main/cards/card.html.twig' with { profile : subscribe } %}
                {% endfor %}

            </div>
        {% endfor %}
    </div>

{% endblock %}
