{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

<div class="container box">

    {% for messages in app.flashes('success') %}
        <div class="alert alert-success">{{ messages }}</div>
    {% endfor %}

    {% for row in profiles|batch(4) %}
    <div class="card-deck">

        {% for profile in row %}
        {% include 'main/cards/card.html.twig' %}
        {% endfor %}

    </div>
    {% endfor %}
</div>

{% endblock %}

{% block javascript %}

<script src="{{ asset('js/infinitescript.js') }}"></script>

{% endblock %}
