{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

<div class="container box">
    {% for row in profiles|batch(4) %}
    <div class="card-deck">

        {% for profile in row %}
        <div class="card">
            <img src="https://www.place-hold.it/300x300" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ profile.name }}</h5>
                <p class="card-text">{{ profile.description|resume(200) }}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        {% endfor %}

    </div>
    {% endfor %}
</div>

{% endblock %}
