.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.search {
    border-radius: 25px;
}

.bg-style {
    background-color: #78BEC3;
}

.navbar-brand {
    font-size: 2em;
    font-family: perso;
}

@font-face {
    font-family: perso;
    src: url("fonts/postnobillscolombo-semibold.ttf");
}

.search-icon {
    font-size: 1.5em;
    color: black;
}

.links-group {
    display: flex;
    margin-left: 15px;
}

body {
    box-sizing: border-box;
    background-color: #E6ECF0;
}

.box-background {
    margin-top: 40px;
    background-color: #FFF;
    padding: 25px;
}

.box {
    margin-top: 40px;
}

.card-deck {
    margin-bottom: 20px;
}

.btn-search {
    padding: 0px;
}

.nav-item {
    color: black;
    font-weight: 500;
}

.btn-group {
    width: 100%;
}

.btn-group .btn {
    width: 45%;
}

#button-success,#button-error {
    margin-left: 10%;
}

.main-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register-request {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.login-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-end;
}

.loader {
    background: url("gif/loader.gif") 50% 50% no-repeat;
    position: fixed;
    z-index: 9998;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.loader-container {
    background: #FFF;
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    animation-name: fadeOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.search-container {
    position: relative;
}

.result {
    z-index: 9997;
    position: absolute;
    left: 0px;
    top: 50px;
    width: 200px;
    background-color: #FFF;
}

.resultat {
    padding: 5px;
    text-align: center;
}

.text-result{
    margin-bottom: 5px;
}

.image-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-profile-edit {
    width: 250px;
    border-radius: 25%;
}

@keyframes fadeOut {

    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }

}

