<h1>Demande de réenitialisation du mot de passe</h1>
<p>Voici le lien pour reset son mot de passe
    <a href="{{ path('reset.password',{'token': token}) }}">{{ path('reset.password',{'token': token}) }}</a></p>